<!DOCTYPE html>
	<html>
		<head>
			<title>Life of Matt</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>

		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/resume.pdf">Resume</a></li>
              <li><a href="/projects/projects.html">Projects</a></li>
              <li><a href="/photos/photos.html">Photos</a></li>
	        		<li><a href="/running/running.html">Running</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:m.p.epperson@gmail.com">email</a></li>
	        		<li><a href="https://github.com/matte1">github.com/matte1</a></li>
				</ul>
			</footer>

		</body>
	</html>
